.main {
  padding: 2rem;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.circularProgress {
  position: relative;
  display: inline-flex;
  margin: 5px 0 0 10px;
}

.progress {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black;
}

.movies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  width: var(--img-width);
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: var(--img-height);
}

.image {
  object-fit: cover; /* preserve aspect ratio */
  object-position: center;
}

.select {
  margin-bottom: 10px;
  width: 250px;
}

.button {
  display: block;
}

.stickyButton {
  position: sticky!important; /* mui specificity */
  display: block!important;
  top: 20px;
  z-index: 10;
  margin-bottom: 10px!important;
  text-transform: none!important;
}

.date {
  color: rgb(0 0 0 / 60%);
}
