.main {
  padding: 2rem;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

.circularProgress {
  position: relative;
  display: inline-flex;
  margin: 5px 0 0 10px;
  background: rgb(8 28 34);
  border-radius: 50%;
}

.progress {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.movies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  width: var(--img-width);
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: var(--img-height);
}

.image {
  object-fit: cover; /* preserve aspect ratio */
  object-position: center;
  border-radius: var(--border-radius);
}

.movieDetails {
  width: 1200px;
  height: 600px;
}

.select {
  margin: 10px 0;
  width: 250px;
}

.textfield {
  margin-bottom: 20px;
}

.button {
  display: block;
}

.stickyButton {
  position: sticky!important; /* mui specificity */
  display: block!important;
  top: 20px;
  z-index: 10;
  margin: 0 auto 10px!important;
  text-transform: none!important;
}

.buttonContent {
  display: flex;
  align-items: center;
}

.buttonContent > *:not(:last-child) {
  margin-right: 10px;
}

.date {
  color: rgb(0 0 0 / 60%);
}

.noData {
  width: 100%;
  text-align: center;
}

.customBg {
  color: white;
  height: 100%;
  background-image: linear-gradient(to right, rgb(31.5 31.5 52.5 / 100%) calc((50vw - 170px) - 340px), rgb(31.5 31.5 52.5 / 84%) 30%, rgb(31.5 31.5 52.5 / 84%) 100%);
}

.flexContainer {
  display: flex;
  gap: 50px;
  padding: 20px 60px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex2 > h1 {
  margin-bottom: 30px;
}

.flex2 > div > h3 {
  margin-bottom: 10px;
}

.tooltipError {
  background: red;
}
