.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.circularProgress {
  position: relative;
  display: inline-flex;
}

.progress {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black;
}

.movies {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie {
  display: block;
  width: 200px;
}
